@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/*
header: #A0D5D6
section: #789AA1
h1: #DCEBDD
h2: #AD9A27
footer: #304345

header: #ede6db
section: #8fbdd3
h1: #a2b38b
h2: #9d5353
footer: #e9d5da
*/
/*NEUTRALIDAD*/
body,
html,
h1,
h2,
h3,
article,
aside,
footer,
nav {
    margin: 0;
    padding: 0;
}

/*ESTRUCTURA*/
body {
    /* width: 960px;  */
    width: 80%;
    margin: 0 auto;
}

header {
    height: 90px;
    background-color: #ede6db;
}

section {
    height: 490px;
    background-color: #8990a2;
}

article {
    width: 60%;
    float: left;
    margin-left: 2%;
}

aside {
    width: 34%;
    float: right;
    margin-right: 2%;
}

footer {
    height: 60px;
    background-color: #e9d5da;
}

nav {
    font-size: 0.8em;
    color: #9d5353;
    text-align: center;
    padding-top: 0.5em;
}

/*ESTILO*/
h1 {
    text-align: center;
    color: #9d5353;
}

h2 {
    text-align: center;
    color: #a2b38b;
}

h3 {
    clear: both;
    text-align: center;
    color: #9d5353;
    font-size: 0.8em;
    padding-top: 1em;
}

p {
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: justify;
}

ul,
li {
    display: inline;
}

a {
    text-decoration: none;
    text-align: center;
    color: #9d5353;
}

/*CLASES*/
.izq {
    float: left;
    margin-right: 1em;
}

.der {
    float: right;
    margin-left: 1em;
}

.logo {
    float: left;
    width: 10%;
    margin-left: 10px;
    margin-top: 5px;
}

.textheader {
    width: 70%;
    float: left;
}

/*MENÚ*/
.dropdown_item {
    float: right;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    /* text-align: left; */
    text-align: right;
    margin-top: 10px;
    padding: 1em;
}

.dropdown_item a {
    text-align: center;
    /* columns: #8fbdd3; */
}

.dropdown_item li {
    text-align: center;
    /* columns: #8fbdd3; */
}

.dropdown_item .menu {
    margin-top: 5px;
    display: none;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 1px 1px 2px #304345;
    position: absolute;
    min-width: 100px;
}

.menu a {
    color: black;
}

.dropdown_item a:hover {
    background-color: antiquewhite;
}

.dropdown_item:hover .menu {
    display: block;
}

/*RESPONSIVIDAD*/
@media only screen and (max-width: 460px) {
    body {
        width: 320px;
        height: auto;
        background-color: aqua;
    }

    section {
        height: 1780px;
    }

    article {
        width: 90%;
        height: auto;
        clear: both;
    }

    aside {
        width: 90%;
        height: auto;
        clear: both;
    }

    p {
        font-size: 0.9em;
    }

    h1 {
        font-size: 1.1em;
    }

    h2 {
        font-size: 1em;
    }

    header {
        height: 60px;
    }
}

/*TABLETA*/
@media only screen and (min-width: 461px) and (max-width: 768px) {
    body {
        width: 90%;
        height: auto;
        background-color: #e9d5da;
    }

    section {
        height: 1000px;
    }

    article {
        width: 90%;
        height: auto;
        clear: both;
    }

    aside {
        width: 90%;
        height: auto;
        clear: both;
    }

    p {
        font-size: 1em;
    }

    h1 {
        font-size: 1.1em;
    }

    h2 {
        font-size: 1em;
    }

    header {
        height: 60px;
    }
}

@media only screen and (min-width: 769px) {
    body {
        width: 80%;
        margin: 0 auto;
        background-color: brown;
    }

    section {
        height: 500px;
    }
}